POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_USERS=usersdb
POSTGRES_DB_EVENTS=eventsdb
POSTGRES_DB_BOOKINGS=bookingsdb
JWT_SECRET_KEY=!@!@VeryHardYouPrivateKey12457@#!
JWT_ISSUER=CoreEventsApi
JWT_AUDIENCE=CoreEventsClient
JWT_EXPIRATION_MINUTES=60
API_ADMIN_LOGIN=Admin
API_ADMIN_PASSWORD=Admin!!P23